
#item-data-container {
background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%;
    max-width: 600px;
    height: 90%;
    margin-top: 0;
}