@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Special+Elite&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 5vh;
  background-color: white;
  position: relative;
  margin-top: 5px;
  margin-left: 10px
}

#nav-homepage {
  font-family: "Special Elite", sans-serif;
  font-size: 2.1em;
  text-decoration: none; /* Removes the underline */
  color: black;
  align-self: center;
  margin-right: auto; /* Pushes other elements to the end */
}

#nav-search,
#nav-profile,
#nav-contact,
#nav-browse {
  margin: 0 10px;
  font-size: large;
}

.container {
  height: 95vh;
  background-color: #f2f2f2;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 0.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header ."
    "sub-header .";
}

#header {
  position: relative;
  margin: 0;
  grid-area: header;
  text-align: start;
  font-family: "Special Elite", sans-serif;
  font-size: 10rem;
}
#sub-header {
  grid-area: sub-header;
  text-align: start;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

/* Style the main-header to have a maximum width and be full width on smaller screens */
.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content in the container */
  width: 100%; /* Take up 100% of the .container width */
  /* Maximum width of the header */
  text-align: left; /* Align text to the left */
  margin-left: 25%;
}

/* Make sure input takes full width of the .main-header and has some padding */
#main-search {
  width: 50%; /* Take up 100% of the .main-header width */
  padding: 10px; /* Padding inside the input for aesthetics */
  margin-top: 20px; /* Margin above the input for spacing */
  /* Add any other styles for the input element here */
  text-align: left;
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    red,
    /* Start with orange */ green,
    /* Transition to green */ blue,
    /* Then to blue */ yellow /* And finally to purple */
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Make the text color transparent to show the gradient */
  /* Allows the background to only take up the space of the text */
}

.profile-container {
  height: 95vh;
  background-color: #f2f2f2;
}

.browse-container {
  height: 95vh;
  background-color: #f2f2f2;
}

.browse {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-template-areas:
    "browse-title"
    "browse-center";
  height: 95vh;
}

#browse-title {
  grid-area: browse-title;
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: "Special Elite", sans-serif;
  font-size: 3rem;
  padding: 25px;
}

#browse-center {
  display: grid;
  grid-template-columns: 1.5fr 1fr; /* Two equal columns */
  grid-template-areas: "browse-items profile-item-data";
  grid-area: browse-center;
}

#browse-items {
  grid-area: browse-items;
}

#browse-item-data {
  grid-area: browse-items-data;
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-template-areas:
    "profile-title"
    "profile-center";
  height: 95vh; /* Adjust height as needed */
}

#profile-center {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-areas: "profile-bio profile-data";
  grid-area: profile-center;
}

#profile-bio {
  grid-area: profile-bio;
  display: flex;
  flex-direction: column;
  text-align: start;
  max-width: 600px; /* Adjust max-width as needed */
  margin: auto;
  align-items: flex-start;
  margin-left: 50px;
}

#profile-data {
  grid-area: profile-data;
  display: flex;
  justify-content: center;
  align-items: center; /* Changed from align-content for better alignment */
}

#profile-img {
  width: 50%;
  height: auto; /* Maintain aspect ratio */
  margin: auto; /* Add space below the image */
  margin-bottom: 5%;
}



#listing-button {
  border: none;
  font-size: 2em;
  transition: transform 0.2s; /* Smooth transition for transform and background color */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  color: black; /* Text color */
  padding: 0px 5px; /* Padding for button */
  border-radius: 5px; /* Rounded corners */
}

#listing-button:active {
  transform: scale(0.95); /* Slightly reduce the size when clicked */
}

#browse-rentals-button {
  border: none;
  font-size: 2em;
}

#bookmarks-button {
  border: none;
  font-size: 2em;
}

#profile-bio h2 {
  font-family: "Special Elite", sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

#user-info {
  display: flex;
  justify-content: center;
  font-family: "Special Elite";
}

#profile-title {
  grid-area: profile-title;
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: "Special Elite", sans-serif;
  font-size: 3rem;
  padding: 25px;
}

.inner-container {
  background-color: white; /* White background for the inner container */
  border-radius: 15px; /* Rounded corners, adjust the value for more or less roundness */
  padding: 20px; /* Padding inside the inner container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  width: 75%; /* Adjust the width as needed */
  max-width: 600px; /* Maximum width */
  /* Add any additional styling here */
  height: 90%;
  margin-top: 0;
}

.user-meta-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
}

.user-meta-data input {
  border: none;
  background-color: #f2f2f2;
  margin: 25px;
  width: 75%;
  height: 50px;
  border-radius: 10px;
  font-size: larger;
  text-align: center;
}

.user-meta-data label {
  position: relative;
  text-align: start;
}

.user-meta-data input:focus {
  border: 3px solid black;
  outline: none;
}

.user-meta-data label {
  font-size: 1.3em;
}

.new-div {
  height: auto;
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.listing-title {
  grid-area: profile-title;
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: "Special Elite", sans-serif;
  font-size: 3rem;
  padding: 25px;
  background: #f2f2f2;
}

.item-view {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 9999; /* Sit on top */
}

.detailed-item-view {
  position: relative;
  margin: 5% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
  z-index: 10000;
  border-radius: 10px;
  display: flex;
  position: relative;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  overflow-y: auto;
  justify-content: center;
}

.image-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Allows absolute positioning of arrows relative to this container */
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
}

#left-button, #right-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 40px;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #f2f2f2;
}

#left-button {
  left: 0;
}

#right-button {
  right: 0;
}

#item-img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

#info-div {
  position: absolute;
  top: 5%;
  left: 53%;
  width: 40%;
  height: 90%;
  background-color: white;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  opacity: 0.95;
  box-shadow: 10px;
  padding: 20px; /* Add padding inside the div */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-around; /* Distribute space around elements */
  align-items: center; /* Center align items horizontally */
}

input[type="submit"] {
  background-color: blue;
  border: none;
  color: white;
}

#cancel-button { 
  background-color: black;
}

#info-div h1 {
  margin: 10px 0;
  text-align: center; /* Center the heading */
}

#info-div p {
  width: 100%; /* Full width */
  text-align: left; /* Align text to the left */
  margin: 5px 0; /* Add margin for spacing */
}

#info-div button {
  width: 80%; /* Width of buttons */
  padding: 10px; /* Padding inside buttons */
  margin: 10px 0; /* Margin around buttons */
  border: none;
  border-radius: 5px; /* Rounded corners for buttons */
  color: white; /* Text color for buttons */
  cursor: pointer; /* Cursor change on hover */
}

#info-div button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

#edit-button {
  position: relative;
  top: inherit;
 background-color: blue;
}

#delete-button {
  background-color: red;
 }


.dimmed {
  opacity: 0.1;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 9999; /* Sit on top */
}

.popup-content {
  background-color: #f2f2f2;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 60%;
  z-index: 10000;
  border-radius: 10px;
  display: flex;
  position: relative;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  overflow-y: auto;
}

.popup-content h1 {
  margin-bottom: 20px; /* Add space below the title */
}

.form-group {
  width: 100%; /* Full width of the form */
  margin-bottom: 15px; /* Spacing between form groups */
}

.form-group label {
  display: block; /* Ensure the label is on its own line */
  margin-bottom: 5px; /* Spacing between label and input */
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  width: 100%; /* Full width */
  padding: 8px; /* Padding inside input and textarea */
  border: 1px solid #ccc; /* Border for inputs */
  border-radius: 4px; /* Rounded corners */
}

#file-selector {
  margin-bottom: 15px; /* Spacing after the file selector */
}

.save-cancel-buttons {
  display: flex;
  justify-content: space-between; /* Space between buttons */
  width: 100%; /* Full width */
  
}

#save-modal{
  background-color: blue;
}

#cancel-modal{
  background-color: black;
}


.save-cancel-buttons button {
  padding: 10px 20px; /* Padding inside buttons */
  border: none;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Cursor change on hover */
  color:white;
}



#close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#open-modal {
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin: initial;
  margin-top: 15px;
}

/* Styles for image previews */
.image-preview-container {
  display: flex;
  flex-wrap: wrap; /* Allow multiple lines of images */
  gap: 10px; /* Spacing between images */
  margin-top: 15px; /* Spacing above the image preview area */
}

.image-preview {
  width: 100px; /* Fixed width for each image */
  height: 100px; /* Fixed height for each image */
  object-fit: cover; /* Ensure images cover the area */
  border-radius: 4px; /* Rounded corners for images */
}

.form-group {
  margin-bottom: 15px; /* Add some space between form groups */
  width: 100%; /* Full width within the container */
}

/* Style the file input */
#file-selector {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
}

/* Style the buttons */
.save-cancel-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the image preview area */
.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.image-preview img {
  width: 100px; /* Adjust based on your preference */
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

#close-modal {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  cursor: pointer;
  border: none;
  font-size: larger;
  color: grey;
}

@media (min-width: 1200px) {
  #profile-center {
    grid-template-columns: 1fr 1fr; /* Keep two columns */
    gap: 100px; /* Set a fixed gap */
    max-width: 1200px; /* Set a maximum width */
    margin: auto; /* Center the grid within the parent */
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: black;
  color: white;
  flex-direction: column;
}
